.home {
    margin-top: 8%;
}

.service{
    margin-top: 8%
}

.us{
    margin-top: 5%;
}

.loc {
    margin-top: 5%;
}

.faq {
    margin-top: 5%;
}

footer {
    margin-top: 5%;
    margin-bottom: 2%;
}

.nav-item {
    padding-top: 5px;
}

.testi {
    padding-top: 5%;
}
