html {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.jumbotron {
  margin-top: 5rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

/* For services icon */
.services .container .icon-services {
  background-color: #cfd4ed;
  border-radius: 50%;
  color: #0d28a6;
  padding: 0.2rem;
}

/* End For services icon */

/* For button getting-started */
.getting-started .container .btn-light-green {
  background-color: #5cb85f;
  color: #ffffff;
  border-radius: 2px;
}
/* End For button getting-started */

.getting-started .container .item-jumbo {
  background-color: #0d28a6;
  color: #ffffff;
  border-radius: 1rem;
  height: 350px;
}
